
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

    .navbar{
        top: 0;
        bottom: 0;
        position: fixed;
    }
    .nav-brand{
        display: block;
        width: 160px;
        height: 30px;
    }

    .nav-link {
        list-style: none;
        text-decoration: none;
        
    }

/* Burger Icon */

@media screen and (min-width: 960px) {
    .navbar{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;
        background-color:rgb(255, 255, 255);
        justify-content: center;
        align-items: center;
        font-size: 24.8707px;
    }
    
    
    .nav-brand{
        display: block;
        /* margin-left: 100px; */
        width: 326px;
        height: 46px;
        margin-right: 250px;
    }
    
    
    .nav-link {
    
        padding: 0 20px 0 20px;
        list-style: none;
        text-decoration: none;
        cursor: pointer;
    
    }
    .nav-link:hover{
        color: #FFC600;
        
    }
    .button {
        background-color: black;
        color: white;
        border-radius:10px ;
    }


}
@media screen and (min-width: 1200px) {
    .container {
     width: 100%;
     max-width: 1024px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
}